div.croco-image__back
    div.croco-image__spike.croco-image__spike_number_1
    div.croco-image__spike.croco-image__spike_number_2
    div.croco-image__spike.croco-image__spike_number_3
    div.croco-image__spike.croco-image__spike_number_4
    div.croco-image__spike.croco-image__spike_number_5
    div.croco-image__spike.croco-image__spike_number_6
    div.croco-image__spike.croco-image__spike_number_7
    div.croco-image__spike.croco-image__spike_number_8
div.croco-image__rotate-arm
    div.croco-image__brush
    div.croco-image__drop
    div.croco-image__arm.croco-image__arm_type_left
div.croco-image__base
div.croco-image__bottom
div.croco-image__top
div.croco-image__eye
    div.croco-image__iris
        div.croco-image__dot
div#tail.croco-image__tail
div.croco-image__leg.croco-image__leg_type_right
div.croco-image__leg.croco-image__leg_type_left
div.croco-image__circle
div.croco-image__arm.croco-image__arm_type_right


