.menu {
}

.menu__button {
    width: 225px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;

    background: rgb(255, 80, 1);

    box-shadow: 0 0 0 4px rgb(255, 80, 1);
    border-radius: 3px;

    opacity: 0.9;
}

.menu__button_action {
    animation: move-play 1s infinite;
}
