.page {
    box-sizing: border-box;
    background: linear-gradient(#dbdbdb, transparent 1px), linear-gradient(90deg, #dbdbdb, transparent 1px), linear-gradient(90deg, #ffbaba 2px, transparent 1px) repeat-y;
    background-size: 15px 15px;
    //min-width: 450px;
    position: relative;
    background-color: #fafafa;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 3px double #b1b1b1;
    padding: 2%;
}


.page_type_left {
    margin-right: 0%;
    background-position: 10%;
}

.page_type_right {
    margin-right: 5%;
    background-position: 92%;
}

.page_type_single {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px 10px 10px 10px;
    background-position: 10%;
    padding-bottom: 20px;
}

.page_type_game {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}

.page__title {
    text-align: center;
    font-size: 300%;
    color: #7a3001;
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.page__title_main {
    text-align: center;
    font-size: 500%;
    color: #7a3001;
    font-family: 'Pangolin', cursive;
    margin-top: 10px;
}

.page__notification {
    margin: auto;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #a6ff8e;
    padding: 5px;
    color: black;
    font-size: 110%;
    background-color: #d8ffce;
    opacity: 0.7;
}

@media screen and (min-width: 1000px) {
    .page {
    //height: 95%;
        min-height: 650px;
    }
    .page_type_left {
        margin-left: 5%;
        display: inline-block;
        float: left;
        width: 45%;
        border-radius: 10px 0px 0px 10px;
    }
    .page_type_right {
        display: inline-block;
        margin-left: 0%;
        float: left;
        width: 45%;
        border-radius: 0px 10px 10px 0px;
    }
    .page_type_single {
        float: none;
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .page {
        margin: 15px auto;
        display: block;
        float: none;
        width: 80%;
        height: auto;
    }
    .page_type_left {
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0;
        border-bottom: none;
    }
    .page_type_right {
        border-radius: 0px 0px 10px 10px;
        background-position: 10%;
        margin-top: 0;
        border-top: none;
    }
}

@media screen and (max-width: 500px) {
    .page {
        margin: 0;
        width: 100%;
        font-size: 50%;
        padding-left: 0;
        padding-right: 0;
    }
    .page_type_left {
    }
    .page_type_right {
    }
}
