if authorized
    span Привет, #{nickname}
    br
    span Рейтинг: #{score}
    br
    a#js-index-logout(href="/logout") Выйти
else
    span Добро пожаловать!
    br
    a#js-index-login(href="/login") Авторизуйтесь
    br
    span= "или "
    a#js-index-signup(href="/signup") зарегистрируйтесь
    span , чтобы начать играть!

