$x-yellow: #ffbe01;
.user-area {
    display: table;
    width: 340px;
    margin: 25px auto;
    padding: 15px 5px;
    letter-spacing: 3px;

    background: $x-yellow;
    border: 2px dashed white;
    color: white;

    box-shadow: 0 0 0 4px $x-yellow;
    font-size: 150%;
    border-radius: 3px;
    text-align: center;
    opacity: 0.8;
    @media screen and (max-width: 500px) {
        width: 75%;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        box-shadow: none;
        border-radius: 10px;
    }
    @media screen and (max-width: 300px) {
        width: 98%;
    }
}
