if offline
    span Привет!
    br
    span Подключитесь к сети, чтобы играть с другими пользователями!
else if authorized
    span Привет, #{nickname}
    br
    span Рейтинг: #{score}
    br
    a#js-index-logout(href="/logout") Выйти
else
    span Добро пожаловать!
    br
    a#js-index-login(href="/login") Авторизуйтесь
    br
    span= "или "
    a#js-index-signup(href="/signup") зарегистрируйтесь
    span , чтобы начать играть!

