@font-face {
    font-family: Pangolin;
    src: url("../fonts/pangolin-v1-latin_cyrillic-regular.eot") format('eot'),
    url("../fonts/pangolin-v1-latin_cyrillic-regular.woff") format('woff'),
    url("../fonts/pangolin-v1-latin_cyrillic-regular.woff2") format('woff2'),
    url("../fonts/pangolin-v1-latin_cyrillic-regular.ttf") format('truetype');
    font-weight: normal;
}
