:root {
    --crococolor: #78F956;
}

.croco-image {
    margin: 50px auto;
    position: relative;
    width: 320px;
    height: 320px;
}

@media (min-width: 1000px) {
    .croco-image {
        display: block;
    }
}

@media (max-width: 1000px) {
    .croco-image {
        display: none;
    }
}

.croco-image__base {
    position: absolute;
    top: 9%;
    left: 34%;
    background-color: var(--crococolor);
    width: 33%;
    height: 75%;
    border-radius: 20px;
    border-right: 1px solid black;
}

.croco-image__bottom {
    position: absolute;
    top: 30%;
    left: 42%;
    background-color: var(--crococolor);
    width: 50%;
    height: 6%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px 0px 15px 10px;
    transform: rotate(0deg);
}

.croco-image__top {
    position: absolute;
    top: 8%;
    left: 49%;
    background-color: var(--crococolor);
    width: 47%;
    height: 22%;
    border-radius: 0px 25px 10px 10px;
    border-bottom: 1px solid black;
}

.croco-image__eye {
    position: absolute;
    background-color: var(--crococolor);
    width: 11%;
    height: 11%;
    top: 4%;
    left: 42%;
    border-radius: 50%;
}

.croco-image__iris {
    position: absolute;
    background-color: var(--crococolor);
    width: 55%;
    height: 55%;
    top: 17%;
    left: 25%;
    border-radius: 50%;
    background-color: white;
}


@keyframes move-eye {
    0%{left: 27%;}
    25%{left: 17%;}
    50%{left: 27%;}
    75%{left: 37%;}
    100%{left: 27%;}
}
.croco-image__dot {
    position: absolute;
    background-color: var(--crococolor);
    width: 47%;
    height: 47%;
    top: 27%;
    left: 27%;
    border-radius: 50%;
    background-color: black;
    animation: move-eye 3s infinite;
}

.croco-image__back {
    position: absolute;
    top: 3%;
    left: 1%;
    width: 19%;
    height: 78%;
}

.croco-image__spike {
    position: absolute;
    background-color: var(--crococolor);
    width: 50%;
    height: 13%;
    border-radius: 5px;
    transform: rotate(45deg);
}

.croco-image__spike_number_1{
    top: 13%;
    left: 154%;
}

.croco-image__spike_number_2 {
    top: 28%;
    left: 154%;
}

.croco-image__spike_number_3 {
    top: 43%;
    left: 154%;
}

.croco-image__spike_number_4 {
    top: 58%;
    left: 154%;
}

.croco-image__spike_number_5 {
    top: 72%;
    left: 143%;
    transform: rotate(80deg);
}

.croco-image__spike_number_6 {
    top: 80%;
    left: 100%;
    transform: rotate(24deg);
}

.croco-image__spike_number_7 {
    top: 84%;
    left: 54%;
    transform: rotate(28deg);
}

.croco-image__spike_number_8 {
    width: 35%;
    height: 8%;
    top: 87%;
    left: 17%;
    transform: rotate(24deg);
}

.croco-image__tail {
    transform: rotate(10deg);
    top: 34%;
    left: 4%;
    position: absolute;
    width: 1px;
    height: 1px;
    border: solid transparent;
    border-width: 101px;
    border-bottom: 60px solid var(--crococolor);
    border-right: 60px solid var(--crococolor);
    border-radius: 30px;
}

.croco-image__leg {
    position: absolute;
    width: 14%;
    height: 19%;
    background-color: var(--crococolor);
    top: 75%;
    border-radius: 10px;
}

.croco-image__leg_type_right {
    left: 36%;
}

.croco-image__leg_type_left {
    left: 56%;
}

.croco-image__circle {
    position: absolute;
    width: 23%;
    height: 17%;
    top: 63%;
    left: 50%;
    background-color: var(--crococolor);
    border-radius: 100px / 50px;
    transform: rotate(80deg);
}

.croco-image__arm {
    position: absolute;
    background-color: var(--crococolor);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px / 22px;
}

.croco-image__arm_type_right {
    width: 10%;
    height: 18%;

    top: 44%;
    left: 42%;
}

.croco-image__arm_type_left {
    width: 324%;
    height: 600%;
    top: 0px;
    left: -50%;
    transform: rotate(-20deg);
}

@keyframes move {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-15deg)}
    100%{transform: rotate(0deg)}
}

.croco-image__brush {
    position: absolute;
    top: 185%;
    left: 416%;
    width: 139%;
    height: 416%;
    background-color: #f4ce86;
    transform: rotate(85deg);
    border-radius: 10px / 20px;
}

.croco-image__drop {
    position: absolute;
    top: 259%;
    left: 630%;
    width: 185%;
    height: 185%;
    background-color: #aab1ff;
    transform: rotate(120deg);
    border-radius: 0 100% 100% 100%;
}

.croco-image__rotate-arm {
    position: absolute;
    top: 43%;
    left: 64%;
    width: 3%;
    height: 3%;
    background-color: red;
    animation: move 5s infinite;
}
