@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.some {
    display: table;
    margin: 0 auto;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    background: #f1f1f1;
    font-family: 'Pangolin', cursive;
    letter-spacing: 3px;
}

@media (min-width: 1000px) {
    .background {
        height: 100%;
        position: fixed;
    }
}

@media (max-width: 1000px) {
    .background {
        height: auto;
        position: absolute;
    }
}

.some-picture {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: #aab1ff;
}

canvas {
    position: absolute;
}

.palette__color {
    background-color: black;
    box-shadow: 0 0 0 4px black;
}

a {
    color: #0c1e30;
    text-decoration: underline;
}
