body {
    margin: 0;
    user-select: none;
    cursor: default;
}

html, body, .fix-height {
    height: 100%;
    width: 100%;
}

@media (max-width: 700px) {
    body {
        position:fixed;
    }
}

@viewport {
    user-zoom: fixed;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    background: #f1f1f1;
    font-family: 'Pangolin', cursive;
    letter-spacing: 3px;
    position: absolute;
    z-index: 1;
    height: 100%;
    overflow-x: hidden;
}

.palette__color {
    background-color: black;
    box-shadow: 0 0 0 4px black;
}

a {
    color: #0c1e30;
    text-decoration: underline;
}


::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #bdbdbd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #8f8f8f;
}
