.chat {
    display: inline-block;
    float: left;
    margin: 1% 3% 1% 1%;
}

.chat__list {
    background-color: #fafbf2;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    margin-top: 4%;
    display: block;
}

.chat__input {
    float: left;
    margin-top: 7%;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    width: 78%;
    padding-left: 6px;
}

.chat__submit {
    float: right;
    margin-top: 7%;
    height: 28px;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
}

.chat__player {
    border-radius: 15px;
    color: white;
    display: inline-block;
    padding: 3px 6px 3px 6px;
    opacity: 0.75;
    margin: 1%;
}

.chat__message {
    margin: 5%;
}

@media screen and (min-width: 700px) {
    .chat {
        width: 25%;
        height: 550px;
    }

    .chat__list {
        height: 500px;
    }
}

@media screen and (max-width: 700px) {
    .chat__list {
        display: none;
    }

    .chat__input {
        position: absolute;
        left: 10%;
        width: 60%;
        margin: 5px;
    }

    .chat__submit {
        position: absolute;
        left: 75%;
        width: 10%;
        margin: 5px;
    }

}
