.form {
    height: 80%;
    &__field {
        height: auto;
        min-height: 16%;
        margin-bottom: 20px;
        @media screen and (max-height: 700px){
            margin: 3px;
        }
    }
    &__label {
        display: block;
        text-align: left;
        width: 60%;
        margin-left: 18%;
        font-size: 14pt;
        color: #0c1e30;
    }
    &__error {
        text-align: left;
        width: 60%;
        height: auto;
        margin-left: 18%;
        font-size: 11pt;
        color: #b1b1b1;
    }
    &__input {
        width: 60%;
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid;
        font-size: 13pt;
        padding: 3px 10px;
        background: #fefefe;
        &_valid {
            border-color: #1b3751;
        }
        &_invalid {
            border-color: #ff8787;
            border-width: 2px;
        }
    }
}
