.button {
    text-align: center;
    text-decoration: none;
    display: table;
    border: 2px dashed white;
    color: white;
    cursor: pointer;
}

.button_size_mini {
    font-size: 16pt;
    width: 35px;
    height: 35px;
    margin: 3px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    text-align: center;
    opacity: 0.7;
}

.button_size_big {
    margin: 0 auto;

    background: rgb(255, 80, 1);

    box-shadow: 0 0 0 4px rgb(255, 80, 1);
    font-size: 150%;
    border-radius: 3px;

    opacity: 0.9;
}

.button_type_back {
    position: absolute;
    background-color: rgb(255, 209, 1);
    box-shadow: 0 0 0 4px rgb(255, 209, 1);
}

.button_type_submit {
    margin-top: 40px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 15pt;
}

@keyframes move-play {
    0% {
        border-radius: 3px;
    }
    50% {
        border-radius: 5px;
    }
    100% {
        border-radius: 3px;
    }
}
