div.palette
    div.palette__container.palette__container_color_purple
        div.palette__spot.palette__spot_color_purple
    div.palette__container.palette__container_color_blue
        div.palette__spot.palette__spot_color_blue
    div.palette__container.palette__container_color_cyan
        div.palette__spot.palette__spot_color_cyan
    div.palette__container.palette__container_color_green
        div.palette__spot.palette__spot_color_green
    div.palette__container.palette__container_color_yellow
        div.palette__spot.palette__spot_color_yellow
    div.palette__container.palette__container_color_orange
        div.palette__spot.palette__spot_color_orange
    div.palette__container.palette__container_color_red
        div.palette__spot.palette__spot_color_red
